@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #2974f7;
    --text-color: #ffffff;
  }
}

@layer components {

  /* FOOTER  */
  .social-item {
    @apply grid place-items-center rounded-full transition-all duration-100 h-[30px] w-[30px] bg-main-color-light text-white;
  }

  .social-item:hover {
    @apply bg-main-color-dark
  }

  .container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
  }

  .nav-footer {
    @apply inline-block py-1 transition-transform duration-200 ease-in-out hover:translate-x-1 hover:text-main-color;
  }

  /* HEADER */
  .btn {
    @apply text-white uppercase font-bold inline-flex items-center relative;
  }

  .btn-hover::before {
    @apply absolute top-0 left-0 w-1/2 h-full bg-main-color-light dark:bg-main-color-dark transition-all duration-300 ease-in-out;
    content: "";
    z-index: 0;
  }

  .btn-hover:hover::before {
    width: 100%;
  }

  .hamburger-menu {
    --size: 30px;
  }

  .hamburger-menu .hamburger,
  .hamburger-menu .hamburger::before,
  .hamburger-menu .hamburger::after {
    width: var(--size);
    height: 3px;
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 0.5rem;
  }

  .hamburger-menu .hamburger::before,
  .hamburger-menu .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .hamburger-menu .hamburger::before {
    top: -10px;
  }

  .hamburger-menu .hamburger::after {
    bottom: -10px;
  }

  .hamburger-menu.active .hamburger {
    background-color: transparent;
  }

  .hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
  }

  .hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
  }

  .nav-header {
    @apply text-xl uppercase font-bold text-gray-950 hover:text-main-color dark:text-white dark:hover:text-main-color transition-colors duration-300;
  }

  /* INSERT */
  .input-insert {
    @apply flex flex-col w-full bg-transparent border-2 border-dashed border-gray-300 dark:border-white py-1 px-4 rounded;
  }

  .input-id-insert {
    @apply rounded bg-transparent text-black dark:text-white
  }

  .file-drop-insert {
    @apply border-2 border-dashed border-gray-300 dark:border-white text-gray-400 rounded-lg p-5 relative cursor-pointer;
  }

  .drop-text-insert {
    @apply text-drop-color text-main-size;
  }

  .input-file-hidden-insert {
    @apply absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer;
  }

  .file-drop-insert.drag-over {
    @apply border-main-color dark:border-main-color-dark;
  }

  .modal-input-table {
    @apply w-full px-4 py-2 text-left text-black bg-white hover:opacity-80 rounded-md transition-all ease-in duration-75;
  }

  .videos-carousel .item {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  .videos-carousel .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .videos-carousel .owl-carousel .owl-item>div {
    width: 100%;
  }

  .videos-carousel .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    /* Ajusta a imagem para caber no contêiner sem cortar */
    object-position: center;
    /* Centraliza a imagem no contêiner */
  }

  .videos-carousel .owl-carousel .owl-nav button.owl-prev,
  .videos-carousel .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    z-index: 1000 !important;
    /* Ensure the buttons are on top */
  }

  .videos-carousel .owl-carousel .owl-nav button.owl-prev {
    left: 5px;
    /* Adjust the position as needed */
    top: 180px;
  }

  .videos-carousel .owl-carousel .owl-nav button.owl-next {
    right: 5px;
    /* Adjust the position as needed */
    top: 180px;
  }


  .movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /* Mantém a proporção da imagem (16:9) */
    cursor: pointer;
  }

  .movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s linear;
  }

  .movie-item:hover img {
    transform: scale(1.2);
  }

  .movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s;
  }

  .movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }

  .movie-item-title {
    color: white;
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
  }

  /* Ensure the owl-carousel items are displayed in a row */
  .movies-slide.owl-carousel .owl-item {
    display: flex;
    align-items: center;
    /* Center align items vertically */
  }

  /* Optional: Adjust carousel item width if needed */
  .movies-slide.owl-carousel .owl-item {
    width: auto;
    /* Or a specific width like 20% to fit mulTIPle items */
  }

  /* REPRODUCTION */
  ul li.prev {
    position: relative;
    width: 2rem;
    /* Ajuste o tamanho do botão conforme necessário */
    height: 2rem;
    /* Ajuste o tamanho do botão conforme necessário */
  }

  ul li.prev span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 2rem;
    /* Ajuste o tamanho do "X" conforme necessário */
    height: 2px;
    /* Ajuste a altura do "X" conforme necessário */
    background: white;
    border-right: none;
    border-bottom: none;
  }

  ul li.prev:hover span {
    left: 47%;
  }

  ul li.prev span:before {
    content: '';
    position: absolute;
    width: 27px;
    height: 3px;
    background: white;
    transform-origin: left;
    transform: rotate(45deg) translate(-2px, -1.5px) scaleX(1);
    transition: .5s;
  }

  /* LOGIN */
  .login-input {
    @apply border border-gray-300 rounded w-full p-3 text-black;
  }

  .login-form-button {
    @apply mt-4 bg-main-color-light dark:bg-main-color-dark border border-main-color text-slate-50 text-center font-semibold p-3 rounded-lg hover:bg-white hover:text-main-color transition-all duration-100;
  }

  /* GENDER */
  .gender-content {
    @apply relative w-full h-52 rounded-lg overflow-hidden cursor-pointer shadow-lg;
  }

  /* CONTACT */
  .contact-input {
    @apply mt-1 block w-full px-3 py-2 border border-gray-300 bg-white dark:bg-box-bg-dark text-black dark:text-white rounded-md shadow-sm focus:outline-none focus:ring-main-color focus:border-main-color sm:text-sm;
  }

  .contact-label {
    @apply block text-sm font-medium text-black dark:text-white;
  }

  /* CONTACT INFO */
  .info-title {
    @apply text-lg font-semibold text-black dark:text-white;
  }

  .info-items {
    @apply text-gray-600 dark:text-gray-400;
  }

  /* DASHBOARD UPDATE PASSWORD */
  .input-password {
    @apply w-full p-2 border border-gray-300 dark:border-white dark:bg-transparent rounded-md text-black dark:text-white;
  }

  /* CATEGORY TITLE MAIN */
  .section-header {
    @apply flex items-center pl-5 mb-[30px] uppercase text-2xl font-bold border-l-4 border-main-color text-main-color dark:text-white;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}